
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;

}

.isDone {
  text-decoration: line-through;
}

.notIsDone {
  font-weight: bold;
}

.activeFilter {
  color: white;
  font-weight: bold;
  background-color: darkorange;
  border-radius: 3px;
  border: 2px solid;
}

.inputError {
  border: 1px solid red;
}